#browser.color-behind-tabs-on .tab-position .tab.active.active {
  background-color: rgba(0, 0, 0, 0.4);
}

#main .mainbar {
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom-width: 0;
}

.SearchField, .MailSearchField-Inner, .UrlBar-AddressField {
  background-color: transparent;
}

#main .mainbar .observer .OmniDropdown {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1rem);
}