.tab .tab-audio {
  transform: scale(0.8) !important;
  left: 1px;
  bottom: 0;
  color: var(--colorHighlightBg) !important;
  padding: unset;
  height: 16px;
  width: 16px;
}

#browser:not(.alt-tabs) #tabs-container .tab:not(.pinned):not(.tab-small).audio-on .favicon {
  transform: none;
}