.tab-position .tab-header .title {
  justify-content: space-around;
}

.tab-position .tab-header button.close {
  background: transparent;
  transition: all 300ms;
}

.tab-position .tab-header button.close:hover {
  background-color: var(--colorAccentBg);
}